<h1><%=@course.username%>'s profile</h1>
<%=gravitor_for @course, size:200%>
<h3>Students</h3>
<div class="flickr_pagination">
<%= will_paginate @student %>
<% @student.each do |t| %>
    <p><%=t.firstname%></p>
    <p><%=@course.id%></p><br>
 
<%end%>
<p><%=link_to "EdityourProfile",edit_course_path(@course)%></p>
<p><%=link_to "logout",logout_path,method: :delete%></p>
<div class="flickr_pagination">
<%= will_paginate @student %>
